<div class="min-h-[60vh] bg-slate-50">
  <div class="max-w-md mx-auto px-4 py-8">
    <!-- タイトル＋説明 -->
    <div class="mb-6">
      <h1 class="text-xl font-bold text-emerald-600">
        行きたいスポットを登録
      </h1>
      <p class="mt-2 text-sm text-gray-600">
        気になったお店やスポットを登録して、<br>
        行き先リストにまとめられるようにしておきましょう♪<br>
        （ ※ URLとタイトルは必須です。）
      </p>
    </div>

    <%= render "form", spot: @spot %>
  </div>
</div>
