services:
  db:
    image: postgres:15
    container_name: ai_route_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: ai_route_web
    command: bash -lc "rm -f tmp/pids/server.pid && bin/rails server -b 0.0.0.0 -p 3000"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      RAILS_ENV: development

  css:
    build: .
    container_name: ai_route_css
    command: bash -lc "bin/rails tailwindcss:watch"
    volumes:
      - .:/app
    depends_on:
      - web
    env_file:
      - .env
    environment:
      RAILS_ENV: development

volumes:
  db-data:
